$primary-color: #3269ac;
$secondary-color: #f7ab4b;
$tertiary-color: #a6cbed;
$dark-color: #072954;
$success-color: #40da90;
$error-color: #ff4f4f;
$gray-color: #c8c8c8;
$acent-color: #ecf1f4;
$text-color: #364456;
$light-color: #fafcfe;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,700;0,900;1,200;1,300;1,500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box !important;
  box-sizing: border-box;
}

body {
  background-color: $acent-color;
}
.fs-10 {
  font-size: 10px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-40 {
  font-size: 40px;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-900 {
  font-weight: 900;
}
.shadow-main {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.border-gray {
  border-color: $gray-color;
}
.rounded-8 {
  border-radius: 8px !important;
}
.rounded-15 {
  border-radius: 15px !important;
}
.bg-tertiary {
  background: $tertiary-color;
}
.bg-acent {
  background: $acent-color;
}
.bg-primary-color {
  background: $primary-color;
}
.bg-secondary-color {
  background: $secondary-color;
}
.bg-gray-color {
  background: $gray-color;
}
.bg-light-color {
  background: $light-color;
}
.text-primary-color {
  color: $primary-color;
}
.text-text-color {
  color: $text-color;
}
.text-tertiary-color {
  color: $tertiary-color;
}
.text-error-color {
  color: $error-color;
}
.text-secondary-color {
  color: $secondary-color;
}
.text-gray-color {
  color: $gray-color;
}
.text-dark-color {
  color: $dark-color;
}
.btn {
  &:focus {
    box-shadow: none;
  }
}

.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}
.cart-num {
  width: 22px;
  height: 22px;
  background: $secondary-color;
  top: -12px;
  left: -12px;
  font-size: 11px;
}
.account-section a,
.cart-section a {
  &.active {
    color: $secondary-color;
    svg {
      path {
        fill: $secondary-color;
      }
    }
  }
}

.border-20 {
  border-radius: 20px;
}
header {
  nav {
    .navbar-nav {
      margin-left: 80px;
    }
    .nav-item {
      &.active {
        .nav-link {
          color: $secondary-color;
        }
      }
    }
    .nav-link {
      color: $text-color;
      transition: 0.3s ease-in-out;
      font-size: 14px;
      font-weight: 600;
      svg {
        path {
          transition: 0.3s ease-in-out;
          fill: $text-color;
        }
      }
      &:hover {
        color: $secondary-color;
        svg {
          path {
            fill: $secondary-color;
          }
        }
      }
    }
  }
}
footer {
  .nav-link {
    color: $text-color;
    transition: 0.3s ease-in-out;
    font-size: 12px;
    font-weight: 600;
    &:hover {
      color: $secondary-color;
    }
  }
  .social-item {
    width: 26px;
    height: 26px;
  }
}
@media (max-width: 767px) {
  nav {
    .navbar-nav {
      margin-left: 0 !important;
    }
  }
}
